<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/style-dashboard.css">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand">Olá, {{usuario.nome}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/admin/encomendas">Encomendas</a>
        <a class="nav-link" href="/admin/sabores">Sabores</a>
        <a class="nav-link" href="/admin/usuarios">Administradores</a>
        <a class="nav-link" href="/login/logout">Logout</a>
      </div>
    </div>
  </div>
</nav>

<div class="container my-5">
    <h2 class="text-center">Gerenciamento de Usuários</h2>

    <!-- Botão para Página de Cadastro -->
    <div class="d-flex justify-content-end mb-3">
        <a href="/admin/cadastro-usuario" class="btn btn-success">Cadastrar Novo Usuário</a>
    </div>

    <!-- Lista de Usuários -->
    <div class="card">
        <div class="card-header">Usuários Cadastrados</div>
        <ul class="list-group list-group-flush" id="usuario-lista">
            <li class="list-group-item d-flex align-items-center justify-content-between">
                {{#each usuarios}}
                    <div>
                        <h5 class="mb-0">{{this.nome}}</h5>
                        <small>{{this.email}}</small><br>
                    </div>
                    {{#canDelete this.id ../usuario.id}}
                      <button class="btn btn-danger btn-sm" onclick="deleteUsuario({{this.id}})">Excluir</button>
                    {{/canDelete}}
                {{/each}}
            </li>
        </ul>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    async function deleteUsuario(id) {
        if (confirm("Tem certeza de que deseja excluir este usuário?")) {
            const response = await axios.post(`/api/excluir-usuario/${id}`)

            if (response.data.sucesso) {
              alert(response.data.mensagem)
              window.location.reload()
            } else {
              alert(response.data.mensagem)
            } 
        }
    }
</script>