@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');/* Estilo da Navbar */

.navbar {
    display: flex;
    background-color: #ff7171; /* Cor de fundo */
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.navbar-brand {
    font-size: 25px;
    color: white;
}

.navbar a:hover {
    color: white
}

/* Estilo das seções */
.card {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-weight: bold;
}


.card .btn {
    background-color: #ff7171;
    color: white;
    border: none;
}

.card .btn:hover {
    background-color: #ff7171;
    color: rgb(0, 0, 0);
}

.card-header {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.form-control {
    margin-bottom: 15px;
}
.btn-primary {
    width: 100%;
}